{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Vous n'avez pas accès à cette ressource.</h1>
    <a href="{{ path('app_index') }}">Accueil</a>
{% endblock %}
